:root {
  font-family: "Scope One", serif;
  background-color: #b08267;
  background-image: url("../images/background.jpg");
  background-size: 800px;
}

/* ------------------------ Element styling ------------------------ */

body {
  margin: 0px;
}

a {
  color: black;
  text-decoration: none;
  transition: 0.5s;
  display: inline-block;
}
.soMe-list a:hover {
  color: #f0eddc;
  text-decoration: none;
  transform: scale(130%);
  transition: 0.5s;
  display: inline-block;
}

h1 {
  color: #522222;
  font-size: 40px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Trirong", serif;
  font-size: 17px;
  text-align: center;
}

h3 {
  color: #a75d5d;
  font-family: "Trirong", serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: rgb(121, 83, 0);
  border-width: 5px;
  width: 10%;
}

iframe {
  display: block;
  margin: auto;
  padding: 20px;
  border: 0px;
}

table {
  width: 700px;
  font-family: "Scope One", serif;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: #b08267;
}

th {
  background-color: #d8d5c5;
  font-weight: 800;
}

td {
  background-color: #f0eddc;
  padding: 5px;
  text-align: center;
}

ul {
  list-style-type: circle;
}

/* ------------------------ Class styling ------------------------ */

.headerText {
  font-family: "Lucida Handwriting", cursive;
  font-size: 70px;
  color: rgb(251, 180, 88);
  position: relative;
  top: -10%;
  text-shadow: 0px 0px 5px black;
}

.center-image {
  border-radius: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  border-style: solid;
  border-color: rgb(121, 83, 0);
}

.center {
  text-align: center;
}

/* ------------------------ Main grid layout ------------------------ */

.header {
  grid-area: header;
}
.menu {
  grid-area: menu;
}
.article {
  grid-area: article;
}
.aside-left {
  grid-area: asideLeft;
}
.aside-right {
  grid-area: asideRight;
}
.footer {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  grid-template-rows: 150px auto 100px;
  grid-template-areas:
    "asideLeft header asideRight"
    "asideLeft article asideRight"
    "asideLeft footer asideRight";
}

/* ------------------------ Grid ingredients and recipe and soMe list ------------------------ */

.side-right {
  grid-area: right;
}

.side-left {
  grid-area: left;
}

.box-container {
  display: grid;
  grid-template-columns: 2;
  grid-template-areas: "left right";
}

.soMe-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 20px;
}

/* ------------------------ Grid styling ------------------------ */

.header {
  text-align: center;
  min-width: 700px;
  max-width: 1000px;
  background-image: url("../images/foodBanner.jpg");
  background-position: 0px -300px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.article {
  background-color: #fffbe9;
  background: linear-gradient(to top, #fbeebf, #fffbe9);

  min-width: 700px;
  max-width: 1000px;
  padding-bottom: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50px;
}

.footer {
  text-align: center;
  background: linear-gradient(to top, #a67c5e, #936e54);
  min-width: 700px;
  max-width: 1000px;
  margin-bottom: 0px;
  padding-top: 20px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  font-style: italic;
}

.soMe {
  display: grid;
  column-gap: 20px;
  grid-template-columns: 2.5em 2.5em 2.5em 2.5em;
  margin-bottom: 10px;
  justify-content: center;
}

.borderStyle {
  border-color: black;
  border-style: solid;
  padding-left: 50px;
  padding-right: 50px;
}
